In [2]:
#First we need to establish connection between python notebook and mysql workbench to fetch the data according to questions.
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rashika\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\rashika\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [3]:
#!pip3 install mysql-connector-python
#The above command needs to be run when executer gets error with the above command in line one.

In [4]:
import mysql.connector as con

In [5]:
mydb=con.connect(host='localhost', user='root', password='r@shika123')

In [6]:
mydb

In [7]:
cursor=mydb.cursor()# its a pointer.

In [8]:
cursor.execute("show databases")

In [9]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('testrashika1',),
 ('testrashika11',),
 ('testrashika112',),
 ('world',)]

In [10]:
# let's create a database.
cursor.execute("create database Organisation")

In [11]:
#let's create a table inside organisation database.
cursor.execute("create table Organisation.Worker_Table(Department_ID INT(20), Department VARCHAR(30), First_Name VARCHAR(30), Salary INT(10))")

In [12]:
cursor.execute("use organisation")

In [13]:
cursor.execute("show tables")

In [14]:
cursor.fetchall()

[('worker_table',)]

In [15]:
cursor.execute("insert into organisation.worker_table values(1,'DSL','Rajdeep Singh',200000000)")

In [16]:
# To check in sqlworkbench, we need to commit operation.
mydb.commit()

In [17]:
cursor.execute("select* from organisation.worker_table")

In [18]:
cursor.fetchall()

[(1, 'DSL', 'Rajdeep Singh', 200000000)]

In [19]:
cursor.execute("insert into organisation.worker_table values(2,'DSL','Raj Singh',100000000)")

In [20]:
cursor.execute("insert into organisation.worker_table values(3,'DSL','Deep Singh',300000000)")

In [21]:
cursor.execute("insert into organisation.worker_table values(4,'Content','Rishabh D',2000000)")
cursor.execute("insert into organisation.worker_table values(5,'Content','Ritesh D',3000000)")
cursor.execute("insert into organisation.worker_table values(6,'Content','Renu',400000)")
cursor.execute("insert into organisation.worker_table values(7,'HR','Sonakshi Singh',5000000)")
cursor.execute("insert into organisation.worker_table values(8,'Product','Salini',6000000)")
cursor.execute("insert into organisation.worker_table values(9,'Developer','Natasha',8000000)")
cursor.execute("insert into organisation.worker_table values(10,'Developer','Minakshi',9000000)")
cursor.execute("insert into organisation.worker_table values(11,'Developer','Amitabh',9500000)")

In [22]:
mydb.commit()

# Q-1. Write an SQL query to fetch “First_Name” from Worker table using the alias name as WORKER_NAME.

In [23]:
cursor.execute("select First_Name AS WORKER_NAME from worker_table")

In [24]:
cursor.fetchall()

[('Rajdeep Singh',),
 ('Raj Singh',),
 ('Deep Singh',),
 ('Rishabh D',),
 ('Ritesh D',),
 ('Renu',),
 ('Sonakshi Singh',),
 ('Salini',),
 ('Natasha',),
 ('Minakshi',),
 ('Amitabh',)]

# Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [25]:
cursor.execute("Select distinct DEPARTMENT from worker_table")

In [26]:
cursor.fetchall()

[('DSL',), ('Content',), ('HR',), ('Product',), ('Developer',)]

# Q-3. Write an SQL query to show the last 5 record from a table.

In [27]:
# First needs to be check total number of records in worker_table.
cursor.execute("select * from worker_table")
cursor.fetchall()

[(1, 'DSL', 'Rajdeep Singh', 200000000),
 (2, 'DSL', 'Raj Singh', 100000000),
 (3, 'DSL', 'Deep Singh', 300000000),
 (4, 'Content', 'Rishabh D', 2000000),
 (5, 'Content', 'Ritesh D', 3000000),
 (6, 'Content', 'Renu', 400000),
 (7, 'HR', 'Sonakshi Singh', 5000000),
 (8, 'Product', 'Salini', 6000000),
 (9, 'Developer', 'Natasha', 8000000),
 (10, 'Developer', 'Minakshi', 9000000),
 (11, 'Developer', 'Amitabh', 9500000)]

In [29]:
cursor.execute("SELECT * FROM worker_table WHERE Department_ID > (SELECT COUNT(*) FROM worker_table) - 5")

In [30]:
cursor.fetchall()

[(7, 'HR', 'Sonakshi Singh', 5000000),
 (8, 'Product', 'Salini', 6000000),
 (9, 'Developer', 'Natasha', 8000000),
 (10, 'Developer', 'Minakshi', 9000000),
 (11, 'Developer', 'Amitabh', 9500000)]

                                          Keep Learning, Keep Growing...