In [1]:
import mysql.connector as con

In [2]:
mydb=con.connect(host='localhost', user='root', password='r@shika123')

In [3]:
mydb

In [4]:
cursor=mydb.cursor()# its a pointer.

In [5]:
cursor.execute("use organisation")

In [6]:
cursor.execute("show tables")

In [7]:
cursor.fetchall()

[('worker_table',)]

In [8]:
cursor.execute("insert into organisation.worker_table values(12,'DSL','Rajdeep S    ',200000)")
cursor.execute("insert into organisation.worker_table values(13,'DSL','Sakshi Singh    ',800000)")
cursor.execute("insert into organisation.worker_table values(14,'Content','Ranjana Shetty    ',900000)")
cursor.execute("insert into organisation.worker_table values(15,'Developer','Sejal H    ',950000)")

In [9]:
mydb.commit()

In [10]:
cursor.execute("select*from worker_table")
cursor.fetchall()

[(1, 'DSL', 'Rajdeep Singh', 200000000),
 (2, 'DSL', 'Raj Singh', 100000000),
 (3, 'DSL', 'Deep Singh', 300000000),
 (4, 'Content', 'Rishabh D', 2000000),
 (5, 'Content', 'Ritesh D', 3000000),
 (6, 'Content', 'Renu', 400000),
 (7, 'HR', 'Sonakshi Singh', 5000000),
 (8, 'Product', 'Salini', 6000000),
 (9, 'Developer', 'Natasha', 8000000),
 (10, 'Developer', 'Minakshi', 9000000),
 (11, 'Developer', 'Amitabh', 9500000),
 (12, 'DSL', 'Rajdeep S    ', 200000),
 (13, 'DSL', 'Sakshi Singh    ', 800000),
 (14, 'Content', 'Ranjana Shetty    ', 900000),
 (15, 'Developer', 'Sejal H    ', 950000)]

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [11]:
cursor.execute("Select RTRIM(FIRST_NAME) from Worker_table")
cursor.fetchall()

[('Rajdeep Singh',),
 ('Raj Singh',),
 ('Deep Singh',),
 ('Rishabh D',),
 ('Ritesh D',),
 ('Renu',),
 ('Sonakshi Singh',),
 ('Salini',),
 ('Natasha',),
 ('Minakshi',),
 ('Amitabh',),
 ('Rajdeep S',),
 ('Sakshi Singh',),
 ('Ranjana Shetty',),
 ('Sejal H',)]

# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [14]:
cursor.execute("SELECT DEPARTMENT, MAX(LENGTH(DEPARTMENT)) FROM WORKER_table GROUP BY DEPARTMENT")
cursor.fetchall()

[('DSL', 3), ('Content', 7), ('HR', 2), ('Product', 7), ('Developer', 9)]

# Q-3. Write an SQL query to fetch nth max salaries from a table.

In [26]:
#Finding 4th highest salary, if you want to find nth then replace 4 by that number.
cursor.execute("SELECT department_id,salary from worker_table w1 where 4-1=(select count(distinct salary)from worker_table w2 where w2.salary>w1.salary)")
cursor.fetchall()

[(11, 9500000)]

                                   Keep Learning, Keep Growing...